---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import KeyMoments from '../components/KeyMoments.astro';
import Experience from '../components/Experience.astro';
import Services from '../components/Services.astro';
import Testimonial from '../components/Testimonial.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Giovanni Amodeo - Professional Portfolio">
	<main>
		{/* Hero Section */}
		<Hero />

		{/* About Section */}
		<About />

		{/* Key Moments Section */}
		<KeyMoments />

		{/* Experience Section */}
		<Experience />
		
		{/* Services Section */}
		<Services />
		
		{/* Testimonial Section */}
		<Testimonial />
	</main>
	
	{/* Footer */}
	<Footer />
</Layout>
