---
import Layout from '../layouts/Layout.astro';
import FeaturedVideos from '../components/FeaturedVideos.tsx';
---

<Layout title="Featured Videos - Giovanni Amodeo">
	<main>
		{/* Featured Videos Section */}
		<FeaturedVideos client:load />
	</main>
</Layout> 