---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <script
   src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
   defer></script>
   <style>[x-cloak] { display: none; }</style>
 <link
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
   rel="stylesheet"
 />
 <link rel="icon" href="/favicon.ico" />
 <title>Giovanni Amodeo</title>
</head>
<body class="scroll-smooth bg-white text-gray-900">
 <slot />
</body>
</html>